@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}

::after,
::before {
  box-sizing: none;
}
/*  ==============  */
.section {
  background: var(--bg-black-900);
  display: none;
  min-height: 100vh;
  display: block;

  padding: 0 30px;

  opacity: 1;
}

.padd-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  /* background: violet; */
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.container-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  /* background: violet; */
}

.container-title h2 {
  color: var(--text-black-900);
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

.container-title h2::before {
  content: "";
  background: var(--skin-color);
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
}
.container-title h2::after {
  content: "";
  background: var(--skin-color);
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  background: var(--skin-color);
  padding: 12px 35px;
  border-radius: 40px;
  color: white;
  border: none;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.09);
  /* position: absolute; */
  /* font-size: 50px; */
  /* background: var(--bg-black-100);
  color: var(--skin-color);
  border: 2px solid var(--skin-color); */
}
/* ========== */

ul {
  list-style: none;
  /* background: #000; */
}
aside {
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--bg-black-100);
  height: 100%;
  padding: 30px;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
/* ========== */
aside .logo {
  position: absolute;

  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
aside .logo:hover {
  transform: scale(1.1);
}
aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  font-size: 30px;
  /* background: red; */
  padding: 15px 20px;
  letter-spacing: 5px;
  position: relative;
}
aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}
aside .logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
}
aside .logo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
}
/* ====== */

.nav-toggler {
  height: 40px;
  width: 45px;
  border: 1 solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  z-index: 800;
  display: none;
  justify-content: center;
  align-items: center;
}
.nav-toggler span {
  width: 18px;
  height: 2px;
  position: relative;
  background: var(--skin-color);
  z-index: 800;
  display: inline-block;
}

.nav-toggler span::before {
  content: "";
  background: var(--skin-color);
  height: 2px;
  width: 18px;
  position: absolute;
  top: -6px;
  left: 0px;
}
.nav-toggler span::after {
  content: "";
  background: var(--skin-color);
  height: 2px;
  width: 18px;
  position: absolute;
  top: 6px;
  left: 0px;
}
/* ====== */
aside .nav {
  margin-top: 50px;
}
aside .nav li {
  margin-bottom: 50px;
  display: block;
}

aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: var(--text-black-900);
  padding: 5px 15px;
  border-bottom: 1px solid var(--bg-black-50);
}
aside .nav li a.active {
  color: var(--skin-color);
  transform: scale(1.5);
}
aside .nav li a:not(.active):hover {
  transform: scale(1.2);
}
aside .nav li a i {
  margin-right: 15px;
}
/* ======= */
.main-content {
  padding-left: 270px;
}
/* ==== home ==== */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

.home .home-image {
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  /* background: blueviolet; */
  display: flex;
  text-align: center;
}
.home .home-image img {
  margin: auto;
  border-radius: 5px;
  height: 400px;
}

.home-image::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  color: var(--skin-color);
  border-right: 10px solid var(--skin-color);
  border-bottom: 10px solid var(--skin-color);
  bottom: -40px;
  right: -10px;
}
.home-image::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  color: var(--skin-color);

  border-left: 10px solid var(--skin-color);
  border-top: 10px solid var(--skin-color);
  top: -40px;
  left: -10px;
}
/* ====== */
h3.hello {
  font-size: 28px;
  margin: 15px 0;
}
h3.hello span {
  font-family: "Clicker Script", cursive;
  color: var(--skin-color);
  font-size: 30px;
  font-weight: 700;
}
h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
  font-weight: 400;
}
.home .home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}
/* ====== About ======= */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
  /* background: violet; */
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
  color: var(--skin-color);

  font-weight: 500;
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
.personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  /* background: violet; */
  margin-top: 40px;
}
.personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
  /* background: violet; */
}
.personal-info .info-item p {
  font-size: 16px;
  color: var(--text-black-900);
  padding: 10px 0px;
  font-weight: 600;

  border-bottom: 1px solid var(--bg-black-50);
}

.personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 5px;
  display: inline-block;
}
.about .about-content .personal-info {
  /* display: flex;
  flex-wrap: wrap; */
  margin-top: 30px;
}
.about .about-content .personal-info .info-item:nth-child(2n) p {
  border: none;
}
.about .about-content .personal-info .buttons {
  margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn {
  margin-right: 20px;
  margin-top: 10px;
}
.about .about-content .personal-info .buttons .hire-me {
  background: transparent;
  color: var(--text-black-900);
  border: 2px solid var(--text-black-900);
}
/* ========================== */
.skills {
  flex: 0 0 40%;
  max-width: 40%;
  /* background: greenyellow; */
  margin-top: 40px;
}

.skill-item {
  flex: 0 0 100%;
  max-width: 100%;
  /* background: violet; */
  margin-bottom: 2px;
}
.skill-item h5 {
  font-size: 16px;
  color: var(--text-black-900);
  transform: capitalize;
  line-height: 40px;
  font-weight: 600;
}
.skill-item .progress {
  width: 100%;
  height: 7px;
  background: var(--bg-black-50);
  border-radius: 5px;
  position: relative;
}
.skill-item .progress .progress-in {
  height: 100%;
  background: var(--skin-color);
  border-radius: 5px;
}
.skill-item .progress .skill-precent {
  position: absolute;
  right: 0;
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}
